<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Glossaire explicatif et combinatoire Anglais-Français des technologies transformatrices (Big Data, IA, blockchain) - English-French Explanatory Combinatorial Glossary for Disruptive Technologies (Big Data, AI, Blockchain)."
    />
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />
    <title>
      {% block title %}DTechGloss | Glossaire IA - Blockchain - Big Data{%
      endblock %}
    </title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
